<%- include('sidebar') %>
<link href="/chat.css" rel="stylesheet" />
<div class="container-fluid">
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
      <% const userAFirstName = flatUserData[0].first_name %> <% const
      userBFirstName = flatUserData[1].first_name %>

      <h1 class="h2">Message <%= userBFirstName %></h1>
      <div class="btn-toolbar mb-2 mb-md-0"></div>
    </div>

    <form action="" id="user"></form>

    <ul id="messages"></ul>

    <div>User A: <%= userAFirstName %></div>
    <div>User B: <%= userBFirstName %></div>
    <div>Room ID: <%= roomId %></div>

    <form action="" id="msg" class="container-fluid">
      <input id="username" value="<%= userAFirstName %>" type="hidden" />
      <input id="m" autocomplete="off" placeholder="type your message" />

      <div class="container-fluid">
        <button id="send">Send</button>
      </div>
    </form>

    <%- include('footer-sidebar') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    ></script>
    <script src="/app.js" onload="app()"></script>
  </main>
</div>
